ENV="local"
API_URL="http://localhost:8000/api/"
FRONTEND_URL="http://localhost:5173/"
ALLOWED_ORIGINS=["http://localhost:5173"]

DB_PATH="newsletter.db"
REDIS_URL="redis://localhost:6379"

ADMIN_EMAIL="example@example.com"
MAGIC_TOKEN_SECRET_KEY="secret"
ACCESS_TOKEN_SECRET_KEY="secret"

FROM_EMAIL="example@example.com"
RESEND_API_KEY="key"

CURRENCY="usd"
ARTICLE_FEE_CENTS=100

STRIPE_SECRET_KEY="sk_..."
# Can use STRIPE_WEBHOOK_SECRET="" for local environment 
STRIPE_WEBHOOK_SECRET="whsec_..." 
STRIPE_SUBSCRIPTION_PRICE_ID="price_..."