ENV="local"
BACKEND_URL="http://localhost:8000"
FRONTEND_URL="http://localhost:5173"
ALLOWED_ORIGINS=["http://localhost:5173"]

UPLOAD_DIR="<absolute-path>"

DB_PATH="newsletter.db"
REDIS_URL="redis://localhost:6379"

ADMIN_EMAIL="example@example.com"
MAGIC_TOKEN_SECRET_KEY="secret"
ACCESS_TOKEN_SECRET_KEY="secret"
OAUTH_STATE_SECRET_KEY="secret"

# Default Resend testing sender address
FROM_EMAIL="onboarding@resend.dev" 
RESEND_API_KEY="key"

CURRENCY="usd"
ARTICLE_FEE_CENTS=100

STRIPE_SECRET_KEY="sk_..."
# Can use STRIPE_WEBHOOK_SECRET="" for local environment 
STRIPE_WEBHOOK_SECRET="whsec_..." 
STRIPE_SUBSCRIPTION_PRICE_ID="price_..."

GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_REDIRECT_URI="http://localhost:8000/api/auth/google/callback"